<form action='/form' method='POST'>
  <div class="forma">
    <div>
      <input type='text' name ='nombre' placeholder='Nombre'>
    </div>
    <div>
      <input type='number' name ='cantidad' placeholder='y cuánto gastó'>
    </div>
    <!--
    <div class="checkbox">
      <input type="checkbox" value="None" id="checkbox big-checkbox" name="finished" />
      <label for="checkbox"></label>
    </div>
    --> 
    <div>
      <input type="radio" name="finished" id="finished" class="css-checkbox" />
        <label for="finished" class="css-label">Listo todos</label>
    </div>
    
    <div>
      <input type='submit' value='enviar'>
    </div>
  </div>
</form>