<form action='/' method='POST'>
  <div></div>
  <p>No mas ebrios haciendo cuentas</p>
  <div>
    <input type='text' name ='nombre' placeholder='Escriba su nombre'>
  </div>
  <div>
    <input type='number' name ='cantidad' placeholder='0'>
  </div>
  <!--
  <div class="checkbox">
    <input type="checkbox" value="None" id="checkbox big-checkbox" name="finished" />
    <label for="checkbox"></label>
  </div>
  --> 
  <input type="radio" name="radiog_lite" class="css-checkbox" />
      <label for="radio3" class="css-label">Listo todos</label>
  <div>
    <input type='submit' value='enviar'>
  </div>
</form>