nav
  ul
    li <a href="/" title="Home">Inicio</a>
    li <a href="/carga" title="Carga">Carga</a>
    li <a href="/resultados" title="Resultados">Ver Resultados</a>
    li <a href="/contact" title="Contact">Contacto</a>