<div>  
  <div class="header">
	  <div class="izq">
	    <p>Total:  $<%= @total %></p>
	  </div>
	  <div class="der">
	    <p>Pago individual: $<%=@pago_individual%><p>
	  </div>
  </div>
</div>

<div id = "container">
	<div class="izq">
	  <p> Resultado:  </p>
	  <%= @resultados.to_html %>
	</div>

	<div class="der">
		<p> Pusieron: </p>
		<%= @aportes.to_html %>
	</div>
</div>
	<div style="clear: both;"></div>
