<div class="header">
  <div class="izq">
    <p>Total:  $<%= @total %></p>
  </div>
  <div class="der">
    <p>Pago individual: $<%=@pago_individual%><p>
  </div>
</div>

<div id = "container">
	<div class="izq">
		<details open> 
			<summary>
				<p>Resultado:  </p>
			</summary>
			<%= @resultados.to_html %>
		</details>
	</div>

	<div class="der">
		<details open> 
			<summary>
				<p> Pusieron: </p>
			</summary>
			<%= @aportes.to_html %>
		</details>
	</div>
</div>
	<div style="clear: both;"></div>
