<div class="start">
	<!--
	<div class="numbers izq">
		1
	</div>
	<div class="numbers izq">
		2
	</div>
	<div class="numbers izq">
		3
	</div>
	<div class="panel">
		<img src="images/paso_2.gif">
	</div>
	-->
	<h1><a href='/form'>comenzar</a></h1>
</div>