.onoffswitch {
  position: relative;
  width: 170px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  margin: auto;
}
.onoffswitch-checkbox {
  display:none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
  display: block;
  width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  line-height: 24px;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "eres el último";
  padding-left: 16px;
  padding-top: 4px;
  background-color: #BE0027; color: #FFFFFF;
  text-align: left;
}
.onoffswitch-inner:after {
  content: "soy el último";
  padding-right: 15px;
  padding-top: 4px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 30px; margin: 3px;
  background: #FFFFFF;
  right: 132px;
  position: absolute;
  top: 0;
  bottom: 0;
  border: 2px solid #999999; border-radius: 50%;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
