body {
  text-align: center;
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-position: 0% 0%;
  background: url("images/party.jpg");
  background-size: cover;
  //background-position: center;
  display: block;
  color: white;
  font-family: helvetica;
}
a {
	color: white;
	text-decoration: none;
}
div {
	margin-top: 400px;
}
p{
  font-size: 22px; 
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
input[type="submit"] {
  background: red;
  color: white;
}