* { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  text-align: center;
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-position: center;
  background: url("images/party.jpg");
  background-size: cover;
  color: white;
  font-family: helvetica;
  font-size: 22px; 
}

a {
	color: white;
	text-decoration: none;
}

div {
	margin-top: 15px;
	//display: inline-block;
	//vertical-align: middle;
}

p {
	margin-left: 100px;
}

.izq {
	float: left;
}
.der {
	float: right;
	margin-right: 100px;
}

input {
  position: relative;
  margin: 1em;
  border: 0;
  padding: 10px;
  font-size: 28px;
}

input[type="submit"] {
  background: red;
  color: white;
}

input[type=radio].css-checkbox {
	position:absolute; 
	//z-index:-1000;
	//left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}

input[type=radio].css-checkbox + label.css-label {
	padding-left:35px; //el texto se corre el tamaño del png hacia la izq
	line-height:30px;
	height:30px; 
	display:inline-block;
	background-repeat:no-repeat;
	//background-position: 0 0;
	//font-size:30px;
	vertical-align:middle; 
	cursor:pointer;
}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -30px;
}

label.css-label {
	background-image:url(images/csscheckbox.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//@media screen and (min-width:600px) {
  //div {
    //float: left;
  //}
//}
//@media screen and (max-width:599px) {
  //div {
    //display: inline-block;
  //}
//}
