* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	/*background: url("https://dl.dropboxusercontent.com/u/2210671/party.jpg");*/
	background: url("images/party.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: white;
	text-align: center;
	font-family: Helvetica, cursive;
	font-size: 22px;
}

.start{
	position: relative;
	width: 90%;
	left: 5%;
	background-color: black;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	opacity: 0.6;
	margin-bottom: 20px;
}
.start:hover {
	opacity: 1;
}
h1, p, .start, li {
	font-family: 'Satisfy', Helvetica, cursive;
	text-shadow:1px 1px 7px black;		
}

h1 {
	margin: auto;
	margin-top: 50px;
	font-size: 60px;
}

.numbers {
	width: 30%;
	border: 1px solid;
	//margin: auto;
}

.panel {
	width: 400px;
	height: 370px;
	border: 1px solid;
	padding: 10px;
	margin: auto;
}

p {
	font-size: 25px;
}

p.subtitle {
	margin-bottom: 10px;
	padding: 0px;
}

a {
	color: white;
	text-decoration: none;
}

ul {
	list-style-type: none;
	text-align: initial;
}
li{
	font-size: 35px;
}
.izq {
	float: left;
	margin-left: 8%;	
}

.der {
	float: right;
	margin-right: 8%;
}

div.header {
	overflow: hidden;
}
input {
	position: relative;
	margin: 10px;
	border: 0;
	padding: 10px;
	font-size: 22px;
	color: white;
	background-color: black;
	opacity: 0.8;
}

input[type="submit"] {
	background: red;
	color: white;
}

footer {
	display: inline-block;
	margin-top: 40px;
    position: absolute;
    right: 10px;
}

details summary::-webkit-details-marker { display:none; }
